<!DOCTYPE html>
<html>
<head>
    <title>Big Corp Ltd Support Requests</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="heading">
        <img id="logo" src="/static/logo.png" />
        <div id="welcome">
            Big Corp Ltd Support Requests
        </div>
    </div>

    <div id="slogan">We do everything!</div>

    {% if requests %}
        <p>Existing support requests for {{ email }}:</p>
        <ul>
            {% for request in requests %}
                <li>{{ request.timestamp}}:
                    <a href="/view-request/{{ request.id }}">
                    <strong>{{ request.title }}</strong></a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>Enter a new support request below:</h1>
    <form action="/new-request" method="post">
        <p>
            <label for="title">Request title: </label>
            <input type="text" name="title" id="title" required />
        </p>
        <p>
            <label for="description">Description:</label>
            <br />
            <textarea name="description" id="description" 
                      rows ="10" cols="60" required></textarea>
        </p>

        <input type="submit" value="Submit request" />
    </form>

    <p>Return to Big Corp Ltd <a href="{{ public }}">home page</a>.</p>
</body>
</html>
