<!DOCTYPE html>
<html>
<head>
    <title>Acme Widgets</title>
</head>

<body>
    <img src="/static/logo.jpg" />

    <h1>Support request {{ request.id }} for {{ email }}</h1>

    <h2>{{ request.title }}</h2>
    <p> {{ request.description }} </p>

    <h2>History:</h2>
    <ul>
        {% for comment in comments %}
            <li>
                <strong>{{ comment.date }} {{ comment.commenter }}:</strong>>
                {{ comment.comment }}
            </li>
        {% endfor %}
    </ul>

    <h1>Add a comment on this request:</h1>
    <form action="/new-comment" method="post">
        <p>
            <label for="comment">comment:</label>
            <textarea name="comment" id="comment" 
                      rows ="10" cols="60" required>
            </textarea>
        </p>

        <input type="submit" value="Submit comment"
    </form>

    <p>Return to Acme Widgets <a href="{{ public }}">home page</a>.</p>
</body>
</html>
