<!DOCTYPE html>
<html>
<head>
    <title>Big Corp Ltd</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="heading">
        <img id="logo" src="/static/logo.png" />
        <div id="welcome">
            Big Corp Ltd
        </div>
    </div>

    <div id="slogan">We do everything!</div>

    <p>
        We are here for you with products and services for your every need.
    </p>

    <p>
        If you have any questions for us, please check out our
        <a href="{{ support }}">Customer Support</a> site!
    </p>
</body>
</html>
