<!DOCTYPE html>
<html>
    <head>
        <title>Big Corp Ltd Employee Site</title>
        <link type="text/css" rel="stylesheet" href="/static/style.css">
    </head>
    
    <body>
        <div id="heading">
            <img id="logo" src="/static/logo.png" />
            <div id="welcome">
                Big Corp Ltd Employee Site
            </div>
        </div>
    
        <div id="slogan">We do everything!</div>
    
    <h2>Notices:</h2>
    <ul>
        {% for notice in notices %}
            <li>{{ notice.timestamp}}: <strong>{{ notice.title }}</strong>
                <br />
                {{ notice.description }}
            </li>

        {% endfor %}
    </ul>

    <p>Return to Big Corp Ltd <a href="{{ public }}">home page</a>.</p>
</body>
</html>
