<!DOCTYPE html>
<html>
    <head>
        <title>Big Corp Ltd Admin Site</title>
        <link type="text/css" rel="stylesheet" href="/static/style.css">
    </head>
    
    <body>
        <div id="heading">
            <img id="logo" src="/static/logo.png" />
            <div id="welcome">
                Big Corp Ltd Admin Site
            </div>
        </div>
    
        <div id="slogan">We do everything!</div>
    
    {% if notices %}
        <p>
            Notices:</p>
        <ul>
            {% for notice in notices %}
                <li>{{ notice.timestamp}}:
                    <a href="/view-notice/{{ notice.id }}">
                    <strong>{{ notice.title }}</strong></a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>Enter a new notice below:</h1>
    <form action="/new-notice" method="post">
        <p>
            <label for="title">Notice title: </label>
            <input type="text" name="title" id="title" required />
        </p>
        <p>
            <label for="description">Description:</label>
            <br />
            <textarea name="description" id="description" 
                      rows ="10" cols="60" required></textarea>
        </p>

        <input type="submit" value="Save notice" />
    </form>

    <p>Return to Big Corp Ltd <a href="{{ public }}">home page</a>.</p>
</body>
</html>
