<!DOCTYPE html>
<html>
    <head>
        <title>Big Corp Ltd Customer Support</title>
        <link type="text/css" rel="stylesheet" href="/static/style.css">
    </head>
    
    <body>
        <div id="heading">
            <img id="logo" src="/static/logo.png" />
            <div id="welcome">
                Big Corp Ltd Customer Support
            </div>
        </div>
    
        <div id="slogan">We do everything!</div>
    
    {% if requests %}
        <p>Customer support requests:</p>
        <ul>
            {% for request in requests %}
                <li>{{ request.timestamp}}:
                    <a href="/view-request/{{ request.id }}">
                    <strong>{{ request.title }}</strong></a>
                    {{ request.email }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <p>Return to Big Corp Ltd <a href="{{ public }}">home page</a>.</p>
</body>
</html>
